/* Color Of The Body */
body {
    background-color: #C0A9BD;
  }

/*All Buttons Main Settings*/
.flex-container a, .bodybuttons a, .flex-parent a, .headerbutton, .titlebutton a, .specialbutton a, .becomebutton a {
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #000000;
    color: #000000;
    text-decoration: none;
    text-align: center;
  }

  /* Header Button Code*/
.headerbutton {
  float: left;
}

/* Header Buttons + Body Buttons Common Code*/
.headerbutton, .bodybuttons a {
    margin: 5px;
    cursor: pointer;
  }

/* MoFlex Buttons Settings*/
.flex-container a, .specialbutton a, .becomebutton a {
    display: block;
    width: 85px;
    height: 40px;
    margin: 35px;
    line-height: 20px;
    font-size: 15px;
    padding: 15px;
  }

  /*Body Buttons + Flex-Parent Buttons + Header Links Common Code*/
.bodybuttons a, .flex-parent a, .header a {
  font-size: 17px; 
  line-height: 25px;
}

  /*Buttons In Flex-Parent Code*/
.bodybuttons a , .titlebutton a {
  float: auto;
  padding: 10px;
  margin-top: 30px;
}

  /*Buttons In Hero Images Flex*/
  .flex-parent a {
    float: left;
    margin: 5px;
  }
  
  /* Header Settings */
  .header {
    overflow: hidden;
    background-color: #ffffff;
    margin: -8px;
  }
  
  /* Links In Header Code */
  .header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
  }
  
  /* Background Of Links In Header While Hoover */
  .header a:hover {
    background-color: #C0A9BD;
    color: #ffffff;
  }
  
  /* Active Link In Header*/
  .header a.active {
    background-color: #000000;
    color: #ffffff;
    border-radius: 2px solid #000000;
  }

  /* 3 Buttons Potition Setting In Header */
  .header-right {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Logo Position Setting */
  .header-left {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  /*Logo Size Setting */
  .logo-container img {
    width: 100px;
    height: 50px;
}

/*Footer Setting*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ffffff;
    padding: 20px;
}

/* Flex Settings*/
.flex-container {
    display: flex;
    background-color: #C0A9BD;
    margin: -10px;
    padding: 80px;
    position: relative;
    justify-content: center;
  }


  /* All The Buttons During The Hover State */
  .flex-container a:hover, #pagetitle a:hover, .flex-parent a:hover, .bodybuttons a:hover, .specialbutton a:hover {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid white;
  }


  /*Flex Setting To Hero Images*/
  .flex-parent, .flex-cart {
    display: flex;
    padding-top: 40px;
  }
  
  /*Hero Images Flex Main Setting*/
  .flex-parent > div {
    font-family: monospace;
    width: 300px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

  .flex-container-shopping {
    display: flex;
    justify-content: center;
    margin-inline: auto;
  }



  /*All The Flex Properties */
  .around { 
    justify-content: space-around; 
  }

  .wrap-rows { 
    flex-flow: row wrap; 
  }

  .row { 
    flex-direction: row; 
  }

   .wrap { flex-wrap: wrap; 
  }

  .column { 
    flex-direction: column; 
  }

  /*Common Code In Hero 1 + 2*/
  .hero-image1, .hero-image2 {
    padding-left: 20px;
  }

  /*All Heroe Images Common Code*/
  .hero-image1, .hero-image2, .hero-image3, .hero-image4, .hero-image5, .hero-image6, .hero-image7 {
    margin: 20px;
  }

  /*Common Code In Hero 3, 4, 5 + 7*/
  .hero-image3, .hero-image4, .hero-image5, .hero-image7 {
    margin-inline: auto;
  }

  /* Best Seller Hero Image  Setting */
  .hero-image1 {
    /* "linear-gradient" adds a darken background effect to the photo */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://mpudata.sfo2.digitaloceanspaces.com/original/2X/6/6f7d37cd5f7ef08a2a17602e0aa6ad3a6880d747.jpeg");
  }

  /*New Arrivals Hero Image Setting*/
  .hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://free4kwallpapers.com/uploads/originals/2019/11/21/star-wars-wallpaper.jpg")
  }

  .hero-image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rare-gallery.com/uploads/posts/552959-star-wars-wallpaper.jpg")
  }

  .hero-image4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://e0.pxfuel.com/wallpapers/264/701/desktop-wallpaper-star-wars-star-wars-star-starwars-and-aesthetic-star-wars.jpg")
  }

  .hero-image5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://getwallpapers.com/wallpaper/full/5/9/9/1509622-popular-star-wars-wallpaper-ipad-1125x2436-samsung-galaxy.jpg")
  }

  .hero-image6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.idownloadblog.com/wp-content/uploads/2019/11/Star-Wars-Rise-of-Skywalker-Emporer-iPhone-wallpaper-no-logo.jpg")
  }

  .hero-image7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/736x/85/5f/a3/855fa3c4270bcbab0bbd3612298ecad7.jpg")
  }

  .hero-image3 {
    height: 600px;
    width: 700px;
  }

  .hero-image4 {
    height: 400px;
    width: 700px;
  }

  .hero-image5 {
    height: 250px;
    width: 500px;
  }

  .hero-image6 {
    height: 520px;
    width: 600px;
  }

  .hero-image7 {
    height: 400px;
    width: 600px;
  }

  /*Hero Images Setting*/
  .hero-image1, .hero-image2, .hero-image3, .hero-image4, .hero-image5, .hero-image6, .hero-image7 {
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image Hero Images */
  .hero-text1, .hero-text2, .hero-text3, .hero-text4, .hero-text5, .hero-text6, .hero-text7 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  /*Flex To The Content On All Category Sites*/
  .flex-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  
  /*Images In Flex For All Pages*/
  .flex-content img {
    width: 100px;
    height: 150px;
    float: left;
    padding: 40px;
  }
  
  /*Text Code*/
  .text {
    font-size: 17px;
    margin-left: -20px;
    padding-top: 10%;
    float: left;
    text-align: center;
  }

  /*Main Form Setting*/
  .contactform, .checkoutform {
    background-color: #ffffff;
    color: #000000;
    width: 600px;
    padding: 1em;
    border: 2px solid #000000;
    border-radius: 1em;
  }

  /*Contact Form In Contact Page Code*/
  .contactform {
    margin: 50px auto;
  }

  /*Checkout Form Code*/
  .checkoutform {
    margin: 20px;
  }

  /*List Settings*/
  ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
  }
  
  /*Length Of The Text In Form*/
  label {
    display: inline-block;
    width: 200px;
    text-align: center;
  }
  
  /*Input Field After This Sign*/
  label::after {
    content: ":";
  }

  /*Input Area Code*/
  input,textarea {
  font: 1em sans-serif;
  width: 350px;
  box-sizing: border-box;
  border: 2px solid #000000;
  outline: none;
  background-color: #C0A9BD;
}

/*Comment Field Code*/
textarea {
  vertical-align: middle;
  height: 5em;
  resize: vertical;
  resize: none;
}

/*Button In The Form*/
form a {
  border: 2px solid #C0A9BD;
  background-color: #000000;
  float: auto;
  cursor: pointer;
  border-radius: 15px;
  margin: 200px;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

/*Text Align */
#pagetitle > div, .textcart, h1, h3 {
  text-align: center;
}

/*Flex Color*/
.flex-contact, .flex-about {
  display: flex; 
  background-color: #C0A9BD;
}

.flex-contact > div, .abouttext, .abouttitle{
  border: 2px solid #000000;
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  border-radius: 15px;
  margin-inline: auto;
}

.flex-contact > div {
  width: 250px;
  height: 100px;
}

.abouttext {
  width: 1100px;
  height: 300px;
}

.abouttitle {
  width: 900px;
  height: 100px;
}

.specialbutton, .becomebutton {
  margin-inline: auto;
}


/*Phone Size*/
@media screen and (max-width: 900px) {
  
  .header a, .header a.active  {
    height: 40px;
    width: 35px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: -10px;
    margin-right: 5px;
  }
  
  .logo-container img, .logo-container  {
    height: 40px;
    width: 80px;
  }
  
  .flex-parent a{
    height: 40px;
    width: 60px;
    font-size: 10px;
    line-height: 20px;
    margin-inline: auto;
    margin-left: 30px;
    padding: 10px;
  }

  .flex-parent > div {
    height: 180px;
    width: 200px;
    padding-left: 20px;
    padding-bottom: -10px;
  }
  
  h3 {
    width: 150px;
    line-height: 20px;
    font-size: 15px;
  }

  h1 {
    width: 550px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
  }
  
  h2 {
    width: 500px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
  }
  
  .flex-container a {
    font-size: 15px;
    line-height: 15px;
    height: 30px;
    width: 65px;
    margin: 20px;
    padding: 30px;
  }
  
  .flex-container {
    padding: 10px;
  }
  
  .flex-about {
    height: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .specialbutton {
    padding: -10px;
  }
  
  .abouttitle {
    height: 90px;
    width: 450px;
    font-size: 15px;
  }
  
  .abouttext {
    height: 300px;
    width: 520px;
    font-size: 13px;
  }

  .hero-image3 {
    height: 500px;
    width: 500px;
  }
  
  .hero-text3 {
    text-align: auto;
  }
  
  .becomebutton {
    margin-inline: auto;
  }

  .checkoutform, .hero-image6, .hero-text6 {
    width: 250px;
    height: 750px;
    margin-bottom: 20px;
    padding-bottom: -20px;
  }
  
  label {
    width: 200px;
  }
  
  input,textarea {
    width: 230px;
  }
  
  .formbutton {
    margin-left: -110px;
    margin-top: 10px;
  }

  .contactform {
    width: 500px;
  }
  
  .formbutton {
    font-size: 13px;
    padding-left: 40px;
  }
  
  .flex-contact > div {
    width: 150px;
    height: 100px;
    font-size: 13px;
    margin-bottom: 100px;
  }

  .flex-content img {
    width: 55px;
    height: 80px;
  }
  
  .flex-content {
    padding: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 13px;
    line-height: 15px;
  }
  
  .bodybuttons a {
    font-size: 12px;
    line-height: 15px;
    margin: 0px;
    padding: 10px;
  }

  #pagetitle {
    margin-inline: auto;
    padding-left: 10px;
  }

  .hero-image5, .hero-image4, .hero-image7 {
    width: 400px;
  }
  
  .hero-text5, .hero-text4, .hero-text7 {
    width: 300px;
    text-align: center;
  }
  
  .hero-image4, .hero-image7{
    font-size: 18px;
    line-height: 30px;
  }
  
  .hero-image4 {
    height: 280px;
  }
  
  .hero-image7 {
    height: 350px;
    padding-top: 50px;
  }

  .hero-text6 {
    font-size: 20px;
    line-height: 25px;
  }
}